---
title: GSAP stuff
layout: main
styles:
- gsap/scrollIn.css
scripts:
- gsap/gsap-scrollIn.js
---

<div class="width-wrapper vs-wrapper">
    <div>
        <h1>Lock in on scroll</h1>
    </div>

    <div>
        <p>Corporis odio cumque et qui illum dolore. Molestiae nemo voluptatem error quidem commodi recusandae. Accusantium earum explicabo sint numquam modi explicabo.</p>
        <p>Libero et possimus est animi accusamus necessitatibus tempora. Placeat aut officia quos sit tenetur minima et. Voluptate quas autem impedit dicta quod.</p>
        <p>Consequatur sapiente iusto repellendus dignissimos fugit rerum. Est dolores soluta id incidunt dignissimos laboriosam perspiciatis sunt. Et dolorem praesentium qui. Dicta nesciunt quam eligendi ipsa quisquam.</p>
        <p>Accusantium ab delectus numquam ut. Explicabo est quis officiis. Nihil labore velit harum nostrum vero magni asperiores.</p>
        <p>Rerum et recusandae voluptatibus assumenda ut vero. Placeat nam consectetur nemo minus praesentium odit. Eius voluptas magni qui odit rerum odio. Accusamus nesciunt doloribus velit nemo sit ex. Laudantium cupiditate libero aliquam veritatis molestiae enim. Voluptatem nihil voluptatibus dolores alias ullam ut dolor.</p>
        <p>Delectus labore dignissimos sit facilis veritatis. Cumque consequuntur veniam vel maiores maxime recusandae omnis. Ut dolore dolores possimus non asperiores quod hic.</p>
        <p>Ducimus ea nihil consequatur. Nihil ea soluta et. Velit quos sequi impedit non illo. Provident autem dolorem dolores.</p>
        <p>Est rerum voluptatem quasi sint laborum. Deserunt incidunt qui voluptas. Aut in qui ut. Quasi hic est quo pariatur earum sunt id et.</p>
        <p>Et quasi est esse. Tenetur neque ad et sint. Velit rerum omnis nihil officia necessitatibus cum quia dolore.</p>
        <p>Pariatur voluptas ipsam dolorem ipsum molestiae distinctio possimus aut. Animi mollitia quidem omnis blanditiis animi molestias. Nulla sit temporibus autem. Neque deserunt iure sit. Voluptatem voluptas consequatur nam.</p>
        <p>Qui aut accusamus id consequatur autem dolorem expedita. Labore corporis sapiente a harum rerum nemo. Amet quibusdam alias maiores quasi quia deleniti voluptas cum.</p>
        <p>Quae qui et veritatis quia deleniti cum quia. Assumenda ut velit sint recusandae exercitationem voluptas voluptatem eum. Aut sit pariatur perspiciatis laboriosam libero voluptas sint. Iure dolorem quia non incidunt et facere.</p>
        <p>Quia aliquam quam ad quas tempore dolorum perferendis voluptatibus. Et eos facilis et. Omnis repellendus occaecati veritatis nesciunt magnam quia. Quo repellat mollitia unde quo ut vitae tempora. Non eos ipsa et esse dolores et magni.</p>
        <p>Consequatur nihil impedit qui. Debitis amet non praesentium pariatur atque sit expedita. Rem non esse fugit eos sit reprehenderit. Cum veniam dolor officia vel eveniet. Incidunt nostrum et odio. Voluptatum quidem corrupti soluta voluptate rem et maxime.</p>
        <p>Voluptas et et et voluptates saepe harum. Culpa ipsam fuga voluptas. Natus beatae harum hic. Perferendis nobis magnam provident omnis. Recusandae sint error est ab modi cum.</p>
        <p>Iure excepturi animi cupiditate eligendi quod recusandae. Ut velit sapiente enim quia nam. Rerum omnis sit omnis est aut praesentium ratione sit. Corrupti aut dolorem est tempore voluptate cupiditate qui voluptatem. Totam quaerat debitis explicabo velit eum.</p>
        <p>Velit aut quia voluptatem. Odio quis veniam libero molestiae qui. Hic earum eius consequatur voluptatum repudiandae maiores culpa. Totam autem veniam distinctio magnam. Et et eaque id et autem non.</p>
        <p>Et dolor deserunt non aut. Tempora modi inventore incidunt odio. Aut beatae amet sit facere asperiores natus. Nihil dolores sunt molestiae incidunt qui dolor asperiores.</p>
        <p>Aliquam sit tempore facere et et qui iste vel. Occaecati tempore reiciendis magni delectus distinctio ducimus tenetur eveniet. Accusantium tempore ipsa impedit veniam ab.</p>
        <p>Illum ut eveniet ut. Occaecati voluptatem optio eaque aut atque veritatis aliquam. Vel ut aut sapiente exercitationem eaque provident nobis. Temporibus itaque pariatur est. Nisi eligendi eaque animi aut eum placeat ipsam earum.</p>
        <p>Ea velit dolorum occaecati nulla nesciunt quam. Sequi aperiam provident odio omnis voluptas odio cupiditate nesciunt. Tempora quis impedit esse asperiores in maiores. Eum aut et fugit aut animi necessitatibus sed recusandae. Quasi eius et ad.</p>
        <p>Officia tempora aut numquam rerum. Omnis quia recusandae et ut. Vitae dolores et et placeat est atque corporis adipisci.</p>
        <p>Voluptatibus dolores animi sit totam. Aperiam fugiat eius ut vel ea. Earum voluptatibus molestiae assumenda autem in accusantium.</p>
        <p>Blanditiis maxime hic inventore et assumenda distinctio. Quaerat unde est reprehenderit doloribus tempora beatae. Expedita aperiam in saepe quos quos qui non incidunt. Quo dolor ab dolore sed est deleniti. Minima ea commodi perferendis voluptas cum doloremque. Ipsum facere voluptas molestias.</p>
        <p>Et omnis praesentium perferendis quia. Repellat exercitationem non eius beatae autem sapiente. Assumenda ut sunt aut repellat doloremque maxime nostrum dolorem. Expedita impedit quia quisquam distinctio asperiores asperiores.</p>
    </div>

    <div class="lockIn">
        <span id="a">Do</span> <span id="b">This</span> <span id="c">Thing</span> <span id="d">✿</span>
    </div>

    <div>
        <p>Corporis odio cumque et qui illum dolore. Molestiae nemo voluptatem error quidem commodi recusandae. Accusantium earum explicabo sint numquam modi explicabo.</p>
        <p>Libero et possimus est animi accusamus necessitatibus tempora. Placeat aut officia quos sit tenetur minima et. Voluptate quas autem impedit dicta quod.</p>
        <p>Consequatur sapiente iusto repellendus dignissimos fugit rerum. Est dolores soluta id incidunt dignissimos laboriosam perspiciatis sunt. Et dolorem praesentium qui. Dicta nesciunt quam eligendi ipsa quisquam.</p>
        <p>Accusantium ab delectus numquam ut. Explicabo est quis officiis. Nihil labore velit harum nostrum vero magni asperiores.</p>
        <p>Rerum et recusandae voluptatibus assumenda ut vero. Placeat nam consectetur nemo minus praesentium odit. Eius voluptas magni qui odit rerum odio. Accusamus nesciunt doloribus velit nemo sit ex. Laudantium cupiditate libero aliquam veritatis molestiae enim. Voluptatem nihil voluptatibus dolores alias ullam ut dolor.</p>
        <p>Delectus labore dignissimos sit facilis veritatis. Cumque consequuntur veniam vel maiores maxime recusandae omnis. Ut dolore dolores possimus non asperiores quod hic.</p>
        <p>Ducimus ea nihil consequatur. Nihil ea soluta et. Velit quos sequi impedit non illo. Provident autem dolorem dolores.</p>
        <p>Est rerum voluptatem quasi sint laborum. Deserunt incidunt qui voluptas. Aut in qui ut. Quasi hic est quo pariatur earum sunt id et.</p>
        <p>Et quasi est esse. Tenetur neque ad et sint. Velit rerum omnis nihil officia necessitatibus cum quia dolore.</p>
        <p>Pariatur voluptas ipsam dolorem ipsum molestiae distinctio possimus aut. Animi mollitia quidem omnis blanditiis animi molestias. Nulla sit temporibus autem. Neque deserunt iure sit. Voluptatem voluptas consequatur nam.</p>
        <p>Qui aut accusamus id consequatur autem dolorem expedita. Labore corporis sapiente a harum rerum nemo. Amet quibusdam alias maiores quasi quia deleniti voluptas cum.</p>
        <p>Quae qui et veritatis quia deleniti cum quia. Assumenda ut velit sint recusandae exercitationem voluptas voluptatem eum. Aut sit pariatur perspiciatis laboriosam libero voluptas sint. Iure dolorem quia non incidunt et facere.</p>
        <p>Quia aliquam quam ad quas tempore dolorum perferendis voluptatibus. Et eos facilis et. Omnis repellendus occaecati veritatis nesciunt magnam quia. Quo repellat mollitia unde quo ut vitae tempora. Non eos ipsa et esse dolores et magni.</p>
        <p>Consequatur nihil impedit qui. Debitis amet non praesentium pariatur atque sit expedita. Rem non esse fugit eos sit reprehenderit. Cum veniam dolor officia vel eveniet. Incidunt nostrum et odio. Voluptatum quidem corrupti soluta voluptate rem et maxime.</p>
        <p>Voluptas et et et voluptates saepe harum. Culpa ipsam fuga voluptas. Natus beatae harum hic. Perferendis nobis magnam provident omnis. Recusandae sint error est ab modi cum.</p>
        <p>Iure excepturi animi cupiditate eligendi quod recusandae. Ut velit sapiente enim quia nam. Rerum omnis sit omnis est aut praesentium ratione sit. Corrupti aut dolorem est tempore voluptate cupiditate qui voluptatem. Totam quaerat debitis explicabo velit eum.</p>
        <p>Velit aut quia voluptatem. Odio quis veniam libero molestiae qui. Hic earum eius consequatur voluptatum repudiandae maiores culpa. Totam autem veniam distinctio magnam. Et et eaque id et autem non.</p>
        <p>Et dolor deserunt non aut. Tempora modi inventore incidunt odio. Aut beatae amet sit facere asperiores natus. Nihil dolores sunt molestiae incidunt qui dolor asperiores.</p>
        <p>Aliquam sit tempore facere et et qui iste vel. Occaecati tempore reiciendis magni delectus distinctio ducimus tenetur eveniet. Accusantium tempore ipsa impedit veniam ab.</p>
        <p>Illum ut eveniet ut. Occaecati voluptatem optio eaque aut atque veritatis aliquam. Vel ut aut sapiente exercitationem eaque provident nobis. Temporibus itaque pariatur est. Nisi eligendi eaque animi aut eum placeat ipsam earum.</p>
        <p>Ea velit dolorum occaecati nulla nesciunt quam. Sequi aperiam provident odio omnis voluptas odio cupiditate nesciunt. Tempora quis impedit esse asperiores in maiores. Eum aut et fugit aut animi necessitatibus sed recusandae. Quasi eius et ad.</p>
        <p>Officia tempora aut numquam rerum. Omnis quia recusandae et ut. Vitae dolores et et placeat est atque corporis adipisci.</p>
        <p>Voluptatibus dolores animi sit totam. Aperiam fugiat eius ut vel ea. Earum voluptatibus molestiae assumenda autem in accusantium.</p>
        <p>Blanditiis maxime hic inventore et assumenda distinctio. Quaerat unde est reprehenderit doloribus tempora beatae. Expedita aperiam in saepe quos quos qui non incidunt. Quo dolor ab dolore sed est deleniti. Minima ea commodi perferendis voluptas cum doloremque. Ipsum facere voluptas molestias.</p>
        <p>Et omnis praesentium perferendis quia. Repellat exercitationem non eius beatae autem sapiente. Assumenda ut sunt aut repellat doloremque maxime nostrum dolorem. Expedita impedit quia quisquam distinctio asperiores asperiores.</p>
    </div>
</div>


<!-- All the includes -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Flip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Observer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/MotionPathPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/EaselPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/PixiPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>


<!-- RoughEase, ExpoScaleEase and SlowMo are all included in the EasePack file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/CustomEase.min.js"></script>
