body {
  margin: 0;
}

.lockIn {
  display: flex;
  justify-content: center;

  gap: 0.5rem;

  line-height: 1;
  padding-block: 1rem 1.5rem;

  background-color: rgb(6, 37, 3, 0);

  position: relative;


  span {
    font-size: 4rem;
    font-weight: bold;
    color: yellow;
  }

  #d {
    position: absolute;
    top: 0;
    right: -2rem;
    line-height: 0;
    font-size: 6rem;
    aspect-ratio: 1 / 1;
    display: block;
    transform-origin: center;
  }

}
