---
title: Index Layout
layout: main
---

<div class="vs-wrapper" style="--vs-space: 8rem;">
    <div class="width-wrapper vs-wrapper" style="--vs-space: 1rem;">
        <div>
            <h1>Animation Sketchbook</h1>
        </div>

        <div>
            <h2>Keyframe stuff</h2>
            <ul>
                <li><a href="./keyframes">Some basics</a></li>
            </ul>
        </div>

        <div>
            <h2>GSAP stuff</h2>
            <ul>
                <li><a href="./gsap">Some basics</a></li>
                <li><a href="./gsap/wall">Words floating in</a></li>
                <li><a href="./gsap/scrollIn">Triggering something when it scrolls into place</a></li>
            </ul>
        </div>
    </div>

    <div class="width-wrapper">
        {{> bottombar }}
    </div>
</div>
