---
title: Index Layout
layout: main
---

<div class="width-wrapper">

    <main>
        <h1>Animation Sketchbook</h1>

        <p>I got ideas</p>

        <h2>Keyframe stuff</h2>
        <ul>
            <li><a href="./keyframes">Some basics</a></li>
        </ul>
    </main>

    {{> bottombar }}

</div>
